body {

background: #C9BFAD;


}





#blue-line {

   stroke-dasharray: 1007;
   stroke-dashoffset: 5000;
   animation: draw 3000ms ease-in-out 4ms forwards;
   animation-iteration-count: 300;

   
}


 #red-line {

   stroke-dasharray: 1007;
   stroke-dashoffset: 5000;
   animation: draw 3000ms ease-in-out 4ms forwards;
   animation-iteration-count: 300;
   
 
 }

 #orange-line {

   stroke-dasharray: 1007;
   stroke-dashoffset: 5000;
   animation: draw 3000ms ease-in-out 4ms forwards;
   animation-iteration-count: 300;

    
 
}


#yellow-line {

   stroke-dasharray: 1007;
   stroke-dashoffset: 5000;
   animation: draw 3000ms ease-in-out 4ms forwards;
   animation-iteration-count: 300;

    
 
}


#green-line {

   stroke-dasharray: 1007;
   stroke-dashoffset: 5000;
   animation: draw 3000ms ease-in-out 4ms forwards;
   animation-iteration-count: 300;

    
 
}


#purple-line {

   stroke-dasharray: 1007;
   stroke-dashoffset: 5000;
   animation: draw 3000ms ease-in-out 4ms forwards;
   animation-iteration-count: 300;
    
 
}


#brown-line {


   stroke-dasharray: 1007;
   stroke-dashoffset: 5000;
   animation: draw 3000ms ease-in-out 4ms forwards;
   animation-iteration-count: 300;
    
 
}

#red-line {

   stroke-dasharray: 1007;
   stroke-dashoffset: 5000;
   animation: draw 3000ms ease-in-out 4ms forwards;
   animation-iteration-count: 300;
    
 
}


@keyframes draw { 

  from
    {stroke-dashoffset: 1000 }

  to
    {stroke-dashoffset: 0}
